@-moz-document domain("mail.google.com") {
/* hide left bar */

/*div.nH.bAw.nn {*/
div.nn.nH:nth-of-type(3) {
    display: none
}

/* remove email entries white shadow */

.zA, .zA:hover {
    box-shadow: none
}

/* make email entries more visibe due to previous changes: highlight email title */

.zA:hover .xT {
    color: white
}

/* remove white background from compose button */

.z0 > .L3, .z0 > .L3:hover, .z0 > .L3:focus {
    background-color: transparent;
    box-shadow: none
}

.z0 > .L3 {
    color: #bbb
}

.z0 > .L3:hover, .z0 > .L3:focus {
    color: white
}

/* remove hover background in left menu */

.TK .TO, .n6 .ah9, .CL {
    border-radius: 0;
}

.TO.NQ {
    background-color: transparent
}

.TO .nU > .n0 {
    color: #bbb
}

.TO.NQ .nU > .n0 {
    color: white
}

/* hide email entries right buttons */

.zA.aqw > .xY.bq4 {
    display: none
}

.zA.aqw > .xW, .zA.aqw > .yf {
    display: flex
}

/* hide GMail logo */
/*.gb_Ta:not(.gb_Ua) .gb_Zd .gb_ac {*/
/*.gb_Ta:not(.gb_Ua) .gb_2d .gb_ac {*/
a[title="Gmail"] {
    display: none
}
}
