/* ==UserStyle==
@name           Paused video is not grey
@namespace      github.com/openstyles/stylus
@version        1.0.0
@author         Exagone313
==/UserStyle== */

@-moz-document domain("www.twitch.tv") {
  .player-overlay-background--darkness-5 {
    background: none !important;
  }
}
