@-moz-document regexp("https?://(www\\.)?twinoid\\.com/(?!((en|fr|es|de|pr|it)/)?g/).*") {
div.line {
    background-image: none !important;
    height: 3px !important;
    background-color: #fe7d00;
}
div#content,
div#subBar,
.scontainer.account .block.oauth .service/* connexions fb ggl */
{
    background-image: none !important;
    background-color: /*#36393E*/
    #101010 !important;
    color: #DEDEDE !important;
}
#subBar ul.tabs li.selected a,
textarea/*#tid_wallPost*/

/* editor on Nexus */
,
input[type^=button],
label/* settings */
,
form input.field {
    background-color: inherit !important;
}
form input.field {
    color: #DEDEDE !important;
}
.tid_twinoidWall .tid_form form/* form to send a new post on Nexus */
,
textarea#tid_forumMsg/* editor on forum */
,
.scontainer.account .block/* settings */
,
.scontainer.appliDirectory .appliSheet/* annuaire apps */
{
    background-color: #242424 !important;
    border-color: #050207 !important;
}
.scontainer.account .block/* settings */
{
    background-image: none;
}
div.tid_talkEvent/* post on Nexus */
,
.scontainer.group tid_wallEvents div.tid_talkEvent/* post on group Nexus */
{
    color: #DEDEDE !important;
    background-color: #1B1B1B !important;
    border-color: #050207 !important;
}
div.tid_post/* comment of post on Nexus */
,
.scontainer.group tid_wallEvents div.tid_post/* comment of post on group Nexus */
{
    color: #DEDEDE !important;
    background-color: #161616 !important;
    border-color: #050207 !important;
}
.scontainer.group/* group Nexus */
{
    color: #DEDEDE !important;
}
textarea#discussInput/* editor private message */
{
    color: black !important;
}
.scontainer.nexus div.title,
#notification a,
.siteContent a {
    color: /*#c8c8c8*/
    #aaa !important;
}
#notification a:hover,
.siteContent a:hover {
    color: #DEDEDE !important;
}
.tid_user.tid_userNoBg.tid_userFriend {
    color: #DEDEDE !important;
}
.tid_user.tid_userNoBg.tid_userUnknown {
    color: #BD3D00 !important;
}
#notification h2,
.siteContent h2,
#frameContent h2,
div.tid_loading,
#notification .about,
.siteContent .about,
#frameContent .about,
.scontainer.userProfile .profileLinks span,
form .row label,
#notification h1,
.siteContent h1,
#frameContent h1,
div#tagDesc > div,
div.loading {
    color: inherit !important;
    text-shadow: 0 1px 0 black !important;
}
#tid_forum .tid_forums a {
    color: white !important;
}
.scontainer.forum .tid_editorContent a,
#tid_forum .tid_post .tid_tools a {
    color: #BD3D00 !important;
}
.scontainer.forum .tid_editorContent p,
.tid_editorContent ul {
    color: /*#222*/
    inherit !important;
}
#tid_forum .tid_post .tid_tools {
    opacity: 0.6;
}
#notification .help,
.siteContent .help,
#frameContent .help {
    background-color: inherit !important;
    border: 1px solid #C7C5C0;
    color: inherit !important;
}
#notification strong,
#notification .help strong,
.siteContent strong,
.siteContent .help strong,
#frameContent .help strong {
    color: #ddd !important;
}
.scontainer.forum .tid_editorContent a:hover,
#tid_forum .tid_bg3 {
    color: #1D2028 !important;
}
.tid_twinoidWall .tid_wallEvent.tid_likeOnly td.tid_content {
    font-size: 9pt !important;
}
.tid_twinoidWall .tid_wallEvent table td.tid_content .tid_likes {
    border: 0 !important;
}
#tid_forum .tid_bg2 {
    background-color: #aaa !important;
}
.scontainer.forum .tid_editorContent strong {
    color: #3B4151 !important;
}
.scontainer.userProfile .userDesc a.edit {
    margin: 2px 10px 0 0;
}
#notification .leftColumn,
#notification .rightColumn,
.siteContent .leftColumn,
.siteContent .rightColumn,
#frameContent .leftColumn,
#frameContent .rightColumn {
    box-shadow: none !important;
    border-bottom: 0 !important;
}
.scontainer.userProfile .groups,
.scontainer.account .block.oauth .service,
.scontainer.appliDirectory .appliSheet {
    box-shadow: none !important;
}
.tid_twinoidWall .tid_subMenu .tid_content {
    background-color: inherit !important;
    box-shadow: none !important;
}
.tid_twinoidWall .tid_subMenu .tid_content span {
    text-shadow: 0 1px 0 black;
}
textarea {
    color: white !important;
    box-shadow: none !important;
}
.scontainer.appliDirectory .appliSheet/* annuaire apps */
{
    border-radius: 3px;
}
.tid_editorContent .tid_announce {
    background-color: transparent !important;
}

/* end */
}
